# Frontend
node_modules/
.next/

# Backend / Python
venv/
__pycache__/
backend/temp_uploads/
backend/temp_outputs/

# Environment files
*.env
*.env.local

# OS / editor junk
.DS_Store
.idea/
.vscode/

